/**
 *ライブラリのCSSの上書きを記載
 */

/**
 * Mavon Editor
 *
 * markdown editorの上書き
 */
.mavonEditor {
  .v-note-wrapper {
    position: unset;
  }

  .v-note-wrapper .v-note-op {
    display: block;
    @include mq(sm) {
      display: flex;
    }
  }

  .v-note-wrapper .v-note-op .v-right-item {
    max-width: 100%;
    @include mq(sm) {
      max-width: 30%;
    }
  }
}
